.super-mario{
    width: 200px;
    position: absolute;
    left: 50px;
    
}

.goomba{
    width: 150px;
    position: absolute;
    top: 400px;
    left: 80px;
}

.baloon{
    width: 150px;
    position: absolute;
    top: 350px;
    left: 300px;
}

.speach{
    font-size: 12px;
    position: absolute;
    top: 370px;
    left: 315px;
    z-index: 3;
}

.bowser{
    width: 200px;
    position: absolute;
    top: 400px;
    left: 450px;
}