*{
    padding: 0;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: black;
    border: solid 2px blue;
}

.information{
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    text-decoration: underline;
    flex-direction: column;
    border: solid 10px red;
    align-items: center;
    
}

.photo{
    border: solid 2px yellow;
}

.bio{
    border: solid 3px purple;
}